@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  src: url("./Pretendard-Regular.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  src: url("./Pretendard-Bold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("./Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("./Pretendard-Light.subset.woff2") format("woff2");
}
