body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.donut-title {
  font-size: 1.4em;
  font-weight: 300;
}

.donut-group .name-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 300;
  font-size: 1em;
  display: none;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.donut-group .value-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 400;
  font-size: 1em;
  display: none;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.donut-container .donut-group {
  transition: opacity 0.3s;
}

.donut-container:hover .donut-group {
  opacity: 0.3;
}

.donut-container .donut-group:hover {
  opacity: 1;
}

.donut-container .donut-group:hover .name-label {
  display: block;
  font-weight: 400;
}

.donut-container .donut-group:hover .value-label {
  display: block;
  font-size: 1.2em;
}

.chart-number {
  font-size: 1.2em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 1em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.donut-container .donut-group:hover ~ .chart-text {
  display: none;
}
