body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.line-title {
  font-size: 1.4em;
  font-weight: 300;
}

.node-group .name-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 300;
  font-size: 1em;
}

.node-group .values-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 900;
  font-size: 0.7em;
}

.line-container .node-group {
  transition: opacity 0.3s;
}

.line-container:hover .node-group {
  opacity: 0.3;
}

.line-container:hover .path {
  opacity: 0.3;
}

.line-container .node-group:hover {
  opacity: 1;
}

.line-container .node-group:hover .values-label {
  font-weight: 400;
  font-size: 1.2em;
  fill: #EB3232;
}

.line-container .node-group:hover .name-label {
  font-weight: 400;
}

