body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.vertical-title {
  font-size: 1.4em;
  font-weight: 300;
}

.verticalbar-group .name-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 300;
  font-size: 1em;
}

.verticalbar-group .value-label {
  text-anchor: middle;
  fill: #36393e;
  font-weight: 900;
  font-size: 0.7em;
}

.vertical-container .verticalbar-group {
  transition: opacity 0.3s;
}

.vertical-container:hover .verticalbar-group {
  opacity: 0.3;
}

.vertical-container .verticalbar-group:hover {
  opacity: 1;
}

.vertical-container .verticalbar-group:hover .name-label {
  font-weight: 400;
}

.vertical-container .verticalbar-group:hover .value-label {
  font-size: 1em;
}
